# =========================
# Build / Export
# =========================
/build
/export
/bin

# =========================
# Object & dependency files
# =========================
*.o
*.d

# =========================
# Logs
# =========================
logs/
*.log
*.jou
*.str
*.rpt

# =========================
# Lock / temp
# =========================
*.lock
*.tmp

# =========================
# Vitis / Vivado / HLS
# =========================
.Xil/
.hls/
.vitis/
solution*/
horn_schunck/

horn_schunck_hls/
lucas_kanade_hls/

*.pb
*.wdb
*.dmp

# =========================
# Simulation output
# =========================
*.vcd
*.wlf
*.fsdb

# =========================
# Workspace / IDE
# =========================
.vitisWorkspace.json
_ide/
.vscode/
.idea/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db